Que1 :Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1.	First get the webpage https://www.naukri.com/
2.	Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3.	Then click the search button.
4.	Then scrape the data for the first 10 jobs results youget.
5.	Finally create a dataframe of the scraped data.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
designation.send_keys('Data Analyst')

In [5]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [6]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [7]:
job_title=[]
job_location=[]

In [8]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:11]:
    title=i.text
    job_title.append(title)

In [9]:
import pandas as pd
df=pd.DataFrame({'title':job_title})
df

Empty DataFrame
Columns: [title]
Index: []

Que2 :Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1.	First get the webpage https://www.naukri.com/
2.		Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3.	Then click the search button.
4.	Then scrape the data for the first 10 jobs results youget.
5.	Finally create a dataframe of the scraped data.

In [10]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [11]:
driver.get('https://www.naukri.com/')

In [12]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
designation.send_keys('Data Scientist')

In [13]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [14]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [15]:
job_title=[]
job_location=[]

In [16]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:11]:
    title=i.text
    job_title.append(title)

In [17]:
import pandas as pd
df=pd.DataFrame({'title':job_title})
df

Empty DataFrame
Columns: [title]
Index: []

Que 3 : You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:
1.	first get thewebpage https://www.naukri.com/
2.	Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3.	Then click the searchbutton.
4.	Then apply the location filter and salary filter by checking the respective boxes
5.	Then scrape the data for the first 10 jobs results youget.
6.	Finally create a dataframe of the scraped data.

In [18]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [19]:
driver.get('https://www.naukri.com/')

In [20]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
designation.send_keys('Data Scientist')

In [21]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [ ]:
checkbox1=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
checkbox1.click()

In [ ]:
checkbox2=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
checkbox2.click()

In [ ]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:11]:
    title=i.text
    job_title.append(title)

In [ ]:
import pandas as pd
df=pd.DataFrame({'title':job_title})
df

Que :4 Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1.	Brand
2.	Product Description
3.	Price
To scrape the data you have to go through following steps:
1.	Go to Flipkart webpage by url : https://www.flipkart.com/
2.	Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3.	After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data asusual.
As shown in the above page you have to scrape the tick marked attributes. These are:
1.	Rating
2.	Review summary
3.	Full review
4.	You have to scrape this data for first 100reviews.

In [ ]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [ ]:
driver.get('https://www.flipkart.com/')

In [ ]:
products=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
products.send_keys('sunglasses')

In [ ]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [ ]:
brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand[0:40]:
    brand=i.text
    sunglasses.append(brand)

In [ ]:
product_description=driver.find_element(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_description[0:40]:
    product_description=i.text
    sunglasses.append(product_description)

In [ ]:
price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price[0:40]:
    price=i.text
    sunglasses.append(price)

In [ ]:
next1=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next1.click()

In [ ]:
brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand[0:40]:
    brand=i.text
    sunglasses.append(brand)

In [ ]:
product_description=driver.find_element(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_description[0:40]:
    product_description=i.text
    sunglasses.append(product_description)

In [ ]:
price=driver.find_element(By.XPATH,'//div[@class="_30jeq3"]')
for i in price[0:40]:
    price=i.text
    sunglasses.append(price)

In [ ]:
next1=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next1.click()

In [ ]:
brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand[0:20]:
    brand=i.text
    sunglasses.append(brand)

In [ ]:
product_description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_description[0:20]:
    product_description=i.text
    sunglasses.append(product_description)

In [ ]:
price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price[0:20]:
    price=i.text
    sunglasses.append(price)

In [ ]:
import pandas as pd
df=pd.DataFrame({'price':sunglasses_price,'product_description':sunglasses_description,'brand':sunglasses_brand})
df

Que 5

In [ ]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [ ]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [ ]:
rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating[0:10]:
    rating=i.text
    iphone11.append(rating)
    
review_sum=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_sum[0:10]:
    review_sum=i.text
    iphone11.append(review_sum)
    
full_sum=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_sum[0:10]:
    full_sum=i.text
    iphone11.append(full_sum)

In [ ]:
next2=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next2.click()

In [ ]:
rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating[0:10]:
    rating=i.text
    iphone11.append(rating)
    
review_sum=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_sum[0:10]:
    review_sum=i.text
    iphone11.append(review_sum)
    
full_sum=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_sum[0:10]:
    full_sum=i.text
    iphone11.append(full_sum)

In [ ]:
next2=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next2.click()

In [ ]:
rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating[0:10]:
    rating=i.text
    iphone11.append(rating)
    
review_sum=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_sum[0:10]:
    review_sum=i.text
    iphone11.append(review_sum)
    
full_sum=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_sum[0:10]:
    full_sum=i.text
    iphone11.append(full_sum)

In [ ]:
next2=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next2.click()

In [ ]:
rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating[0:10]:
    rating=i.text
    iphone11.append(rating)
    
review_sum=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_sum[0:10]:
    review_sum=i.text
    iphone11.append(review_sum)
    
full_sum=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_sum[0:10]:
    full_sum=i.text
    iphone11.append(full_sum)

In [ ]:
next2=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next2.click()

In [ ]:
rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating[0:10]:
    rating=i.text
    iphone11.append(rating)
    
review_sum=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_sum[0:10]:
    review_sum=i.text
    iphone11.append(review_sum)
    
full_sum=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_sum[0:10]:
    full_sum=i.text
    iphone11.append(full_sum)

In [ ]:
next2=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next2.click()

In [ ]:
rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating[0:10]:
    rating=i.text
    iphone11.append(rating)
    
review_sum=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_sum[0:10]:
    review_sum=i.text
    iphone11.append(review_sum)
    
full_sum=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_sum[0:10]:
    full_sum=i.text
    iphone11.append(full_sum)

In [ ]:
next2=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next2.click()

In [ ]:
rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating[0:10]:
    rating=i.text
    iphone11.append(rating)
    
review_sum=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_sum[0:10]:
    review_sum=i.text
    iphone11.append(review_sum)
    
full_sum=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_sum[0:10]:
    full_sum=i.text
    iphone11.append(full_sum)

In [ ]:
next2=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next2.click()

In [ ]:
rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating[0:10]:
    rating=i.text
    iphone11.append(rating)
    
review_sum=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_sum[0:10]:
    review_sum=i.text
    iphone11.append(review_sum)
    
full_sum=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_sum[0:10]:
    full_sum=i.text
    iphone11.append(full_sum)

In [ ]:
next2=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next2.click()

In [ ]:
rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating[0:10]:
    rating=i.text
    iphone11.append(rating)
    
review_sum=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_sum[0:10]:
    review_sum=i.text
    iphone11.append(review_sum)
    
full_sum=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_sum[0:10]:
    full_sum=i.text
    iphone11.append(full_sum)

In [ ]:
next2=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next2.click()

In [ ]:
rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating[0:10]:
    rating=i.text
    iphone11.append(rating)
    
review_sum=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_sum[0:10]:
    review_sum=i.text
    iphone11.append(review_sum)
    
full_sum=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_sum[0:10]:
    full_sum=i.text
    iphone11.append(full_sum)

In [ ]:
import pandas as pd
df=pd.DataFrame({'rating':iphone_rating,'review_sum':review_summary,'full_summary':full_summary})
df

que 6

In [ ]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [ ]:
driver.get('https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off')

In [ ]:
products=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
products.send_keys('sneakers')

In [ ]:
brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand[0:40]:
    brand=i.text
    sneakers.append(brand)

In [ ]:
product_description=driver.find_element(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_description[0:40]:
    product_description=i.text
    sneakers.append(product_description)

In [ ]:
price=driver.find_element(By.XPATH,'//div[@class="_30jeq3"]')
for i in price[0:40]:
    price=i.text
    sneakers.append(price)

In [ ]:
import pandas as pd
df=pd.DataFrame({'brand':sneakers_brand,'product_description':product_description,'price':price})
df

que 7 : Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
            After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1.	Title
2.	Ratings
3.	Price

In [ ]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [ ]:
driver.get('https://www.amazon.in/')

In [ ]:
laptop=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
laptop.send_keys('laptops')

In [ ]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [ ]:
CPU_type=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[11]/li/span/a/span")
CPU_type.click()

In [ ]:
title=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title[0:23]:
    title=i.text
    laptop.append(title)

In [ ]:
rating=driver.find_element(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')
for i in rating[0:23]:
    rating=i.text
    laptop.append(rating)

In [ ]:
price=driver.find_element(By.XPATH,'//span[@class="a-price-whole"]')
for i in price[0:23]:
    price=i.text
    laptop.append(price)

In [ ]:
import pandas as pd
df=pd.DataFrame({'title':laptop_title,'rating':laptop_rating,'price':price})
df

que 8 : Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1.	First get the webpagehttps://www.azquotes.com/
2.	Click on Top Quotes
3.	Than scrap a) Quote b) Author c) Type Of Quotes

In [ ]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [ ]:
driver.get('https://www.azquotes.com/')

In [ ]:
toq=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in toq[0:101]:
    toq=i.text
    quotes.append(toq)

In [ ]:
author=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author[0:101]:
    author=i.text
    quotes.append(author)

In [ ]:
quote=driver.find_elements(By.XPATH,'//div[@class="title"]')
for i in quote[0:101]:
    quote=i.text
    quotes.append(quote)

In [ ]:
import pandas as pd
df=pd.DataFrame({'toq':type_of_quote'author':author,'quote':quotes})
df

Que9 : Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.

This task will be done in following steps:
1.	First get the webpagehttps://www.jagranjosh.com/
2.	Then You have to click on the GK option
3.	Then click on the List of all Prime Ministers of India
4.	Then scrap the mentioned data and make theDataFrame.

In [ ]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [ ]:
driver.get('https://www.jagranjosh.com/')

In [ ]:
gk_option = driver.find_element(By.LINK_TEXT, "GK")
gk_option.click()

In [ ]:
pm_list = driver.find_element(By.LINK_TEXT, "List of all Prime Ministers of India")
pm_list.click()

In [ ]:
table = driver.find_element(By.CLASS_NAME, "tableizer-table")
headers = table.find_elements(By.TAG_NAME, "th")
column_names = [header.text.strip() for header in headers]

In [ ]:
rows = table.find_elements(By.TAG_NAME, "tr")
data = []
for row in rows[1:]:
    cells = row.find_elements(By.TAG_NAME, "td")
    row_data = [cell.text.strip() for cell in cells]
    data.append(row_data)

In [ ]:
df = pd.DataFrame(data, columns=column_names)
print(df)

Que 10 : Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/

This task will be done in following steps:
1.	First get the webpagehttps://www.motor1.com/
2.	Then You have to type in the search bar ’50 most expensive cars’
3.	Then click on 50 most expensive cars in the world..
4.	Then scrap the mentioned data and make the dataframe.

In [ ]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [ ]:
driver.get('https://www.motor1.com/')

In [ ]:
search_bar = driver.find_element(By.NAME, "q")
search_bar.send_keys("50 most expensive cars")

In [ ]:
search_bar.submit()

In [ ]:
expensive_cars_link = driver.find_element(By.LINK_TEXT, "50 Most Expensive Cars In The World")
expensive_cars_link.click()

In [ ]:
car_list = driver.find_elements(By.XPATH, "//div[@class='price-page-slider-item']")
data = []

In [ ]:
for car in car_list:
    name = car.find_element(By.XPATH, ".//div[@class='price-page-slider-item-name']").text.strip()
    price = car.find_element(By.XPATH, ".//div[@class='price-page-slider-item-price']").text.strip()
    data.append([name, price])

In [ ]:
df = pd.DataFrame(data, columns=["Car Name", "Price"])
print(df)